# 包含根目录必要文件
include README.md
include alembic.ini
include requirements.txt
include run.py
include pyproject.toml

# 包含数据库迁移脚本
recursive-include migrations *.py

# 包含前端资源
recursive-include html *

# 包含静态资源
recursive-include resources *

# 包含测试文件
recursive-include tests *.py

# 包含文档
recursive-include docs *.md

# 包含源码目录下的所有Python文件和README
recursive-include src *.py
recursive-include src *.md