include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
include pytest.ini
include alembic.ini
include sonar-project.properties

recursive-include html *
recursive-include resources *
recursive-include docs *
recursive-include migrations *.py

include scripts/*.sh
include scripts/*.py

global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude .git*
global-exclude .venv
global-exclude .vs
global-exclude .scannerwork